<mat-toolbar color="primary" fxLayout="row" fxLayoutGap="10px">
    <div class="logo-container" fxLayout="row" fxLayoutGap="5px">
      <img src="/assets/images/30px-ACSC_logo.png" height="30" width="30" alt="acsc logo" />
      <img src="/assets/images/aaa_logo.png" height="30" alt="aaa logo" />
    </div>
  
    <div fxLayout="column">
      <span>{{title}}</span>
  
      <div fxFlex="nogrow" class="env-details" fxLayout="row" fxLayoutGap="5px">
        <span>Development</span>
        <span>v1.0</span>
      </div>
    </div>
  
  
  </mat-toolbar>