@import '~@angular/material/theming';

:host{
    @include mat-elevation(6);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;
}

.env-details{
    margin-top: -12px;
    font-size: 11px;
    font-weight: normal;
    opacity: .64;
}

.logo-container{
    background-color: rgba(255, 255, 255, 0.64);
    border-radius: 5px;
    padding: 5px;
}